.cart-container {
    width: 80%;
    margin: 20px auto;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f9f9f9;
  }
  
  .cart-items {
    margin-bottom: 10px;
  }
  
  .cart-item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
  }
  
  .cart-item img {
    width: 200px;
    height: 100px;
    min-width: 200px;
    object-fit: contain;
    margin-right: 10px;
  }
  
  .item-details {
    flex-grow: 1;
  }
  
  .item-actions {
    margin-left: auto;
  }
  
  /* button {
    padding: 8px 16px;
    
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  } */
  
  /* button:hover {
    background-color: #0056b3;
  } */
  